<div class="row">
    <div class="col s8 offset-s2">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Cadastro de Doação</span>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="animal.nome" data-ng-model="animal.Nome" type="text" class="validate">
                        <label for="animal.nome">Nome</label>
                    </div>
                </div>                
                <div class="row">
                    <div class="input-field col s6">
                        <select id="animal.filo" data-ng-model="animal.Filo">
                            <option value="MAMIFERO">Mamífero</option>
                            <option value="AVE">Ave</option>
                            <option value="PEIXE">Peixe</option>
                            <option value="REPTIL">Reptil</option>
                            <option value="ANFIBIO">Anfíbio</option>
                        </select>
                        <label for="animal.filo">Filo</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="animal.dataNascimento" data-ng-model="animal.DataNascimento" type="text">
                        <label for="animal.dataNascimento">Data de Nascimento</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="animal.descricao" data-ng-model="animal.Descricao" class="materialize-textarea"></textarea>
                        <label for="animal.descricao">Descrição</label>
                    </div>
                </div>
                <div class="row">
                    <div class="file-field input-field">
                        <div class="btn blue">
                            <span>Imagem</span>
                            <input type="file" multiple>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-action right-align">
                <a class="btn red" href="#">Cancelar</a>
                <a class="btn green" data-ng-click="salvarAnimal(animal)">Salvar</a>
            </div>
        </div>
    </div>
</div>