<div class="row">
    <div class="col s12">
        <div class="card">
            <nav class="green accent-4" style="padding: 0 0 0 1rem">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a class="breadcrumb">Animais para adoção</a>
                        <a class="breadcrumb">{{adocaoVm.doacao.Animal.Especie}}</a>
                        <a class="breadcrumb">{{adocaoVm.doacao.Animal.Nome}}</a>
                        <a href="#!/animais">
                            <i class="material-icons white-text right" style="cursor: pointer">arrow_back</i>
                        </a>                        
                    </div>
                </div>
            </nav>
            <div class="row" style="padding-top: 1rem">
                <div class="col s2">
                    <img data-ng-hide="adocaoVm.doacao.Animal.Fotos.length" class="circle" width="200px" height="200px" src="images/default.jpg">
                    <img data-ng-show="adocaoVm.doacao.Animal.Fotos.length" class="circle" width="200px" height="200px" src="{{adocaoVm.doacao.Animal.Fotos[0]}}">
                </div>
                <div class="col s4">
                    <div onmouseover="$('#btn-editar').show()" onmouseout="$('#btn-editar').hide()">
                        <a href="#!/doacao/{{adocaoVm.doacao.Id}}" id="btn-editar" class="btn-floating waves-effect waves-light blue" style="display:none">
                            <i class="material-icons">edit</i>
                        </a>
                        <h4 style="display: inline-block">{{adocaoVm.doacao.Animal.Nome}}</h4>                        
                    </div>                    
                    <p>{{adocaoVm.doacao.Animal.Descricao}}</p>
                    <ul>
                        <li>
                            <b>Idade:</b> 7 anos
                        </li>
                        <li>
                            <b>Peso:</b> {{adocaoVm.doacao.Animal.Peso}} Kg
                        </li>
                        <li>
                            <b>Filo:</b> {{adocaoVm.doacao.Animal.Filo}}
                        </li>
                        <li>
                            <b>Espécie:</b> {{adocaoVm.doacao.Animal.Especie}}
                        </li>                        
                    </ul>
                    <a  data-ng-hide="adocaoVm.Usuario.Id === adocaoVm.doacao.Usuario.Id"
                        class="btn waves-effect waves-light green accent-4 pulse modal-trigger" 
                        onclick="$('#modal1').modal('open');">
                        Quero adotar !
                    </a>
                    <a  data-ng-show="adocaoVm.Usuario.Id === adocaoVm.doacao.Usuario.Id"
                        class="btn waves-effect waves-light orange accent-4 modal-trigger"
                        data-ng-click="adocaoVm.abrirModalSolicitacoes(adocaoVm.doacao.Id)">
                        <span class="left">
                            <i class="material-icons">playlist_add_check</i>
                        </span>                        
                        <span class="right">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            Selecionar Candidato
                        </span>                        
                    </a>
                </div>
                <div class="col s6">
                    <h5>Mais fotos ...</h5>
                    <div class="carousel">
                        <a class="carousel-item" 
                           href="#animal-foto-{{$index}}"
                           data-ng-repeat="foto in adocaoVm.doacao.Animal.Fotos | beginAt: 1">
                            <img style="height: 250px; width: 250px" src="{{foto}}">
                        </a>
                    </div>
                </div>
            </div>
            <br>
            <h5>Comentários ({{adocaoVm.comentarios.length || '0'}})</h5>
            <ul class="collection">
                <li class="collection-item avatar" data-ng-repeat="comentario in adocaoVm.comentarios">
                        <i class="material-icons circle">perm_identity</i>
                        <span class="title">
                            <b data-ng-bind="comentario.Remetente.Nome"></b>
                            <div class="chip right">
                                <a href="#">
                                    <i class="material-icons  small red-text left">thumb_down</i>
                                </a>
                                <b>0</b>
                            </div>
                            <div class="chip right">
                                <a href="#">
                                    <i class="material-icons small green-text left">thumb_up</i>
                                </a>
                                <b>0</b>
                            </div>
                        </span>
                        <p data-ng-bind="comentario.Mensagem"></p>
                    </li>
                <div class="row">
                    <div class="input-field col s10">
                        <i class="material-icons prefix">message</i>
                        <label for="adocao.comentario">Deixe aqui seu comentário</label>
                        <input id="adocao.comentario" type="text" data-ng-model="adocaoVm.mensagem">
                    </div>
                    <div class="col s2 right-align">                        
                        <button data-ng-click="adocaoVm.enviarComentario(adocaoVm.mensagem)" class="btn waves-effect waves-light blue" style="margin-top: 1.5rem">
                            Enviar
                            <i class="material-icons right">send</i>                            
                        </button>
                    </div>                    
                </div>
            </ul>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Adotar {{adocaoVm.doacao.Animal.Nome}} !</h4>
        <p>Você está a um passo de adotar o seu pet !</p>
        <p>Para prosseguir, informe porque você deveria ser escolhido como o dono deste animal. Depois é só cruzar os dedos
            e esperar o dono temporário entrar em contato com você.</p>

        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea" data-ng-model="adocaoVm.motivo"></textarea>
                        <label for="textarea1">Descreva sobre você e como pretende cuidar do pet...</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn modal-action modal-close waves-effect waves-green" data-ng-click="adocaoVm.enviarSolicitacao(adocaoVm.motivo)">ENVIAR SOLICITAÇÃO</a>
        <a class="modal-action modal-close waves-effect waves-red btn-flat">CANCELAR</a>
    </div>
</div>

<div id="modal-solicitacoes" class="modal">
    <div class="modal-content green white-text">
        <h4>Candidatos para adotar {{adocaoVm.doacao.Animal.Nome}} !</h4>
    </div>
    <table class="table hilight striped">
        <tbody>
            <tr data-ng-repeat="solicitacao in adocaoVm.solicitacoes">
                <td>{{solicitacao.Usuario.Nome.split(' ')[0]}}</td>
                <td>{{solicitacao.Motivo}}</td>
                <td class="center-align">
                    <button class="btn-floating waves-effect waves-light green" data-ng-click="adocaoVm.selecionarCandidato(solicitacao)">
                        <i class="material-icons">check_circle</i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="modal-footer">        
        <a class="modal-action modal-close waves-effect waves-red btn-flat">Fechar</a>
    </div>
</div>