<div class="row" style="min-height: 25rem">
    <div class="col s12">
        <div class="col s12">
            <div class="card white">
                <div class="card-title green accent-4" style="height: 4rem; padding: 1px 12px;">
                    <h4 class="white-text">
                        <span class="left">
                            <i class="material-icons" style="font-size: 2rem">pets</i>
                            Animais esperando por um lar
                        </span>
                        <span class="right">
                            <button data-ng-click="selecionarAnimalAleatorio(doacoes)" class="btn white green-text waves-effect" style="margin-top: -1rem">
                                Estou com sorte
                            </button>
                        </span>
                    </h4>
                </div>
                <div class="row">
                    <div class="input-field col s10">
                        <i class="material-icons prefix">search</i>
                        <input id="icon_prefix" type="text" class="validate" data-ng-model="filtro">
                        <label for="icon_prefix">Buscar...</label>
                    </div>
                    <div class="col s2" style="padding-top: 2rem" data-ng-init="doadosPorMim = false">
                        <input data-ng-model="doadosPorMim" type="checkbox" class="filled-in" id="doados-por-mim-check" checked="" />
                        <label for="doados-por-mim-check">Doados por mim</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col m3 s12" data-ng-repeat="doacao in doacoes | filter: filtro" data-ng-show="!doadosPorMim || (doadosPorMim && doacao.Usuario.Id == Usuario.Id)">
                <div class="card medium sticky-action">
                    <div class="card-image waves-effect waves-light">
                        <img data-ng-hide="doacao.Animal.Fotos.length" src="images/default.jpg">
                        <img data-ng-show="doacao.Animal.Fotos.length" src="{{SERVER_BASE_URL + 'fotos/' + doacao.Animal.Fotos[0]}}" alt="">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            {{doacao.Animal.Nome}}
                            <i class="material-icons right">keyboard_arrow_up</i>
                        </span>
                        <p>{{doacao.Animal.Descricao}}</p>
                    </div>
                    <div class="card-action">
                        <a class="btn green accent-4 btn-block" href="#!/adocao/{{doacao.Id}}">Me adote
                            <i class="material-icons red-text right">favorite</i>
                        </a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{doacao.Animal.Nome}}
                            <i class="material-icons right">keyboard_arrow_down</i>
                        </span>
                        <ul>
                            <li>
                                <b>Data:</b> {{doacao.Animal.DataNascimento | date:"dd/MM/yyyy"}}
                            </li>
                            <li>
                                <b>Peso:</b> 17 Kg
                            </li>
                            <li>
                                <b>Raça:</b> {{doacao.Animal.Filo}}
                            </li>
                            <li>
                                <b>Descrição:</b> {{doacao.Animal.Descricao}}
                            </li>
                            <li>
                                <b>Doação expira em:</b> {{doacao.DataExpiracao | date:"dd/MM/yyyy"}}
                            </li>
                        </ul>
                        <p>
                            <i>Clique em "ME ADOTE" para ver mais detalhes.</i>
                        </p>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</div>