<script>
    $(document).ready(function () {
        $('.tooltipped').tooltip({ delay: 50 });
    });
</script>
<style>
    .clickable:hover {
        cursor: pointer;
        color: cornflowerblue;
    }
</style>
<div class="row">
    <div class="col" ng-class="{'s6': campListaVm.Usuario.Tipo === 'ORGANIZACAO', 's10 offset-s1': campListaVm.Usuario.Tipo === 'COLABORADOR'}">
        <div class="col" data-ng-repeat="campanha in campListaVm.campanhas"
             ng-class="{'s6': campListaVm.Usuario.Tipo === 'ORGANIZACAO', 's4 offset-s1': campListaVm.Usuario.Tipo === 'COLABORADOR'}">
            <div id="{{campanha.Id}}" class="card row">
                <div class="card-content col s11">
                    <span class="card-title" style="padding-bottom: 1rem;">
                        <a href="#!/campanha/{{campanha.Id}}">
                            {{campanha.Titulo}}
                        </a>
                        <!--<i class="material-icons clickable right">visibility</i>-->
                    </span>
                    <p>
                        <b>Status:</b> {{campanha.Status.replace('_', ' ')}}
                    </p>
                    <p>
                        <b>Meta:</b> {{campanha.Meta | currency: "R$"}}
                    </p>
                    <p>
                        <b>Descrição:</b> <span>{{campanha.Descricao}}</span>
                    </p>
                </div>                
                <div class="col s1 green" style="height: {{campListaVm.getCampanhaAndamentoHeight(campanha.Id, campanha.Andamento)}};">
                    <div style="position: relative; float: right; right: -11px; font-size: 0.8rem">
                        {{campanha.Andamento | limitTo: 2}}%
                    </div>
                </div>
            </div>
        </div>        
    </div>        
    <div class="col s6" data-ng-if="campListaVm.Usuario.Tipo === 'ORGANIZACAO'">
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    Minhas Campanhas                    
                </span>
                <table class="bordered highlight responsive-table">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Status</th>
                            <th>Colaborações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="campanha in campListaVm.minhasCampanhas">
                            <td>
                                <a href="#!/campanha/{{campanha.Id}}">{{campanha.Titulo}}</a>
                            </td>
                            <td>
                                <button class="btn" data-ng-class="campListaVm.StatusColorConfig">{{campanha.Status.replace('_', ' ')}}</button>
                            </td>
                            <td>
                                <div class="progress">
                                    <div    class="determinate green tooltipped" 
                                            style="width: {{campanha.Andamento + '%'}}" 
                                            data-position="top" data-delay="50" 
                                            data-tooltip="{{campanha.Andamento + '%'}}">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-action right-align">
                <a href="#!/campanha" class="btn-floating waves-effect waves-light green">
                    <i class="material-icons">add</i>
                </a>
            </div>
        </div>
    </div>
</div>