<script>
    $(document).ready(function () {
        $('.tooltipped').tooltip({ delay: 50 });
        $('select').material_select();
    });
</script>
<style>
    .clickable:hover {
        color: cornflowerblue;
    }

    .clickable {
        cursor: pointer;
    }
</style>
<div class="row">
    <div class="col" ng-class="{'s6': campListaVm.Usuario.Tipo === 'ORGANIZACAO', 's10 offset-s1': campListaVm.Usuario.Tipo === 'COLABORADOR'}">        
        <div class="card">
            <div class="row">
                <div class="input-field col s8">
                    <i class="material-icons prefix">search</i>
                    <label for="campanha.filtro.titulo">Pesquise aqui..</label>
                    <input id="campanha.filtro.titulo" type="text" data-ng-model="campListaVm.filtro.Titulo">
                </div>
                <div class="input-field col s4">
                    <label for="campanha.filtro.status"></label>
                    <select id="campanha.filtro.status" ng-model="campListaVm.filtro.Status" ng-change="campListaVm.obterCampanhas()">
                        <option value="EM_ANDAMENTO">Em Andamento</option>
                        <option value="PAUSADO">Pausada</option>
                        <option value="FINALIZADO">Finalizada</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col" data-ng-repeat="campanha in campListaVm.campanhas | filter:  campListaVm.filtro" ng-class="{'s6': campListaVm.Usuario.Tipo === 'ORGANIZACAO', 's4 offset-s1': campListaVm.Usuario.Tipo === 'COLABORADOR'}">
            <div id="{{campanha.Id}}" class="card row">
                <div class="card-content col s11">
                    <span class="card-title" style="padding-bottom: 1rem;">
                        <a href="#!/campanha/{{campanha.Id}}">
                            {{campanha.Titulo}}
                        </a>
                    </span>
                    <p>
                        <b>Status:</b> {{campanha.Status.replace('_', ' ')}}
                    </p>
                    <p>
                        <b>Meta:</b> {{campanha.Meta | currency: "R$"}}
                    </p>
                    <p>
                        <b>Descrição:</b>
                        <span>{{campanha.Descricao}}</span>
                    </p>
                </div>
                <div class="col s1 green" style="height: {{campListaVm.getCampanhaAndamentoHeight(campanha.Id, campanha.Andamento)}};">
                    <div style="position: relative; float: right; right: -11px; font-size: 0.8rem">
                        {{campanha.Andamento | limitTo: 2}}%
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s6" data-ng-if="campListaVm.Usuario.Tipo === 'ORGANIZACAO'">
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    Minhas Campanhas
                </span>
                <table class="bordered highlight responsive-table">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Status</th>
                            <th>Colaborações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="campanha in campListaVm.minhasCampanhas">
                            <td>
                                <a href="#!/campanha/{{campanha.Id}}">{{campanha.Titulo}}</a>
                            </td>
                            <td>
                                <button class="btn" style="width: 90%" data-ng-class="campListaVm.StatusColorConfig(campanha.Status)">{{campanha.Status.replace('_', ' ')}}</button>
                            </td>
                            <td class="clickable" data-ng-click="campListaVm.abrirModal(campanha)">
                                <div class="progress">
                                    <div class="determinate green tooltipped" style="width: {{campanha.Andamento + '%'}}" data-position="top" data-delay="50"
                                        data-tooltip="{{campanha.Andamento + '%'}}">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-action right-align">
                <a href="#!/campanha" class="btn-floating waves-effect waves-light green">
                    <i class="material-icons">add</i>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="modal-campanha-extrato" class="modal">
    <div class="modal-content">
        <h4>Colaborações Monetárias</h4>
        <h5><b>{{campListaVm.campanha.Titulo}}</b></h5>
        <table>
            <tbody>
                <tr data-ng-repeat="colaboracao in campListaVm.campanha.Colaboracoes">
                    <td>{{colaboracao.DataCadastro}}</td>
                    <td>{{((colaboracao.Quantidade * 100) / campListaVm.campanha.Meta) | '0'}}%</td>
                    <td>{{colaboracao.Quantidade | currency: 'R$'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>